body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    /* 위와의 간격을 띄어준다 */
    padding-bottom: 100px;
    /* border: 1px solid blue; */
}

main{
    animation: 0.5s bodyPopIn ease-in-out;
}


@keyframes bodyPopIn {
    from{
        opacity: 0;
        transform: translateY(10px);
        /* 위로 올라가보이는 효과 */
    }
    to {
        opacity: 1;
        transform: none;
    }
}


*{
    box-sizing: border-box;
}