.top-header--transparent{
    background-color: transparent;
    /* 헤더부분에 투명하게 해주자 */
}


.profile .profile__header{
    height: 80vh; 
    background-color: red;
    width: 100%;
    position: relative;
    top : -70px;
    /* 
        상대적으로 조정한다 
        global을 조정한다
    */
    display: flex;
    
    /* justify-content: center; */
    justify-content: center;

    /* 아하 */
    /* align-items: center; */
    align-items: flex-end;
    
}